<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

    <title>Citas</title>
</head>
<body>


<div class="sticky">
    Universidad Autonoma de Baja California
</div>
<div class="sticky">
    Enfermeria
</div>

<div>
    Citas
</div>
<div title="Agendar cita" class="addeventatc">
    Agendar cita
    <span class="start">03/26/2019 09:00 AM</span>
    <span class="end">03/25/2019 10:00 AM</span>
    <span class="timezone">America/Los_Angeles</span>
    <span class="title">Cita de Don Mario</span>
    <span class="description">Le duele la panza</span>
    <span class="uid">uabc.edu.mx_4j1g44q92o639fn2q9rgrmalc0@group.calendar.google.com</span>
    <span class="location">Enfermeria</span>
</div>

<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffcc66&amp;src=uabc.edu.mx_4j1g44q92o639fn2q9rgrmalc0%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=America%2FTijuana" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no" class="calendario"></iframe>

</body>
</html>