<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Sistema de citas UABC</title>
    <meta charset="utf-8" />
    <meta name="google-signin-client_id" content="113331073243-ap6ed5g51c2gt0qr2m2fa4bodf5hhnk8.apps.googleusercontent.com">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
<script src="https://apis.google.com/js/api.js"></script>
<p class="titulo">Sistema de citas Enfermeria UABC</p>

<div class="w3-sidebar w3-bar-block" style="display:none" id="mySidebar">

    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=uabc.edu.mx_4j1g44q92o639fn2q9rgrmalc0%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=America%2FTijuana" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    <button onclick="w3_close()" class="w3-bar-item w3-button w3-large underbox">Close &times;</button>
</div>


<div class="box">
    <h3>Datos para la cita</h3>
<form action="#" th:action="@{/inicio}" th:object="${cita}" method="post">
    <p>Nombre: <input required type="text" th:field="*{nombre}" /></p>
    <p>Asunto: <input required type="text" th:field="*{asunto}" /></p>
    <p>Dia: <input required type="number" min="01" max="31" th:field="*{dia}" /></p>
    <p>Mes: <input required type="number" min="01" max="12" th:field="*{mes}" /></p>
    <p>Año: <input required type="number" min="1990" max="2020"th:field="*{anio}" /></p>
    <p>Hora: <input required type="time" th:field="*{hora}"  /></p>
    <p>Doctor:
    <select th:field="*{dr}">
        <option value="Marco Martinez" text="Marco Martinez">Marco Martinez</option>
        <option value="Andrea Linares" text="Andrea Linares">Andrea Linares</option>
        <option value="Elena Perez" text="Elena Perez">Elena Perez</option>
        <option value="Esteban Melendrez" text="Esteban Melendrez">Esteban Melendrez</option>
        <option value="Bandon Rivera" text="Bandon Rivera">Bandon Rivera</option>
    </select>
    </p>
    <p><input type="submit" value="Aceptar" /></p>

</form>
<button onclick="authenticate().then(loadClient).then(execute)">Confirmar y enviar</button>
</div>
<div class="w3-white box2">

    <button class="w3-button w3-white w3-xlarge" onclick="w3_open()">☰ Mostrar calendario</button>
</div>
<!--Add buttons to initiate auth sequence and sign out-->

<script th:inline="javascript">

    /*<![CDATA[*/

    var nombre = /*[[${cita.nombre}]]*/ 'Name';
    var doc = /*[[${cita.dr}]]*/"Doctor";
    var asunto = /*[[${cita.asunto}]]*/ 'Sympthom';
    var desc = asunto + "\nSera atendido por: " + doc;
    var anio =  /*[[${cita.anio}]]*/ "Date"  ;
    var mes =   /*[[${cita.mes}]]*/"Mes";
    var dia = /*[[${cita.dia}]]*/"Day";
    var hora = /*[[${cita.hora}]]*/"Time";
    var fecha = anio+ '-' + mes + '-' + dia + "T" + hora + ":00-07:00";

    /*]]>*/

    /**
     * Sample JavaScript code for calendar.events.insert
     * See instructions for running APIs Explorer code samples locally:
     * https://developers.google.com/explorer-help/guides/code_samples#javascript
     */

    function w3_open() {
        document.getElementById("mySidebar").style.width = "100%";
        document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }

    function authenticate() {
        return gapi.auth2.getAuthInstance()
            .signIn({scope: "https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/calendar.events"})
            .then(function() { console.log("Sign-in successful"); },
                function(err) { console.error("Error signing in", err); });
    }
    function loadClient() {
        return gapi.client.load("https://content.googleapis.com/discovery/v1/apis/calendar/v3/rest")
            .then(function() { console.log("GAPI client loaded for API"); },
                function(err) { console.error("Error loading GAPI client for API", err); });
    }
    // Make sure the client is loaded and sign-in is complete before calling this method.

    function execute() {

        return gapi.client.calendar.events.insert({

            "calendarId": "uabc.edu.mx_4j1g44q92o639fn2q9rgrmalc0@group.calendar.google.com",
            "resource": {

                "summary": nombre,
                "location": "Unidad de enfermeria, Ingenieria",
                "description": desc,

                'start':{
                    "dateTime": fecha,
                    "timeZone": "America/Los_Angeles"
                },
                'end':{
                    "dateTime": fecha,
                    "timeZone": "America/Los_Angeles"
                }
            }

        })
            .then(function(response) {
                    // Handle the results here (response.result has the parsed body).
                    console.log("Se agrego la cita", response);
                },
                function(err) { console.error("Execute error", err); });
    }
    gapi.load("client:auth2", function() {
        gapi.auth2.init({client_id: "113331073243-ap6ed5g51c2gt0qr2m2fa4bodf5hhnk8.apps.googleusercontent.com"});
    });


    function start() {
        // 2. Initialize the JavaScript client library.
        gapi.client.init({
            'apiKey': 'AIzaSyBr0VVqSNb7CGs9bb5oJyWHorkK_8TnDfY',
            // Your API key will be automatically added to the Discovery Document URLs.
            'discoveryDocs': ['https://people.googleapis.com/$discovery/rest'],
            // clientId and scope are optional if auth is not required.
            'clientId': '113331073243-ap6ed5g51c2gt0qr2m2fa4bodf5hhnk8.apps.googleusercontent.com',
            'scope': 'profile',
        }).then(function() {
            // 3. Initialize and make the API request.
            return gapi.client.people.people.get({
                'resourceName': 'people/me',
                'requestMask.includeField': 'person.names'
            });
        }).then(function(response) {
            console.log(response.result);
        }, function(reason) {
            console.log('Error: ' + reason.result.error.message);
            document.location.reload(true);
        });
    };
    // 1. Load the JavaScript client library.
    gapi.load('client', start);


</script>
</body>
</html>